<!-- STAFF (ADMIN) LIST ALL AIRPORTS -->
 
{% extends "base.html" %}

{% block content %}
    <h1>Airports</h1>

    {% if airports %}
        <table>
            <thead>
                <tr>
                    <th>Airport Name</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for airport in airports %}
                    <tr>
                        <td>{{ airport['airport_name'] }}</td>
                        <td>{{ airport['airport_city'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No airports found.</p>
    {% endif %}

    <br>
    <a href="{{ url_for('airline_staff_dashboard') }}">Back to Dashboard</a>
{% endblock %}
